:root{
    --T50:  #F0FDFA;
    --T100: #CCFBF1;
    --T200: #99F6E4;
    --T300: #5EEAD4;
    --T400: #2DD4BF;
    --T500: #14B8A6;
    --T600: #0D9488;
    --T700: #0F766E;
    --T800: #115E59;
    --T900: #134E4A;
    --T950: #042F2E;
    --S50:  #FAFAF9;
    --S100: #F5F5F4;
    --S200: #E7E5E4;
    --S300: #D6D3D1;
    --S400: #A8A29E;
    --S500: #78716C;
    --S600: #57534E;
    --S700: #44403C;
    --S800: #292524;
    --S900: #1C1917;
    --S950: #0C0A09;
}
html , body {
    margin: 0;
    height: 100%;
}
@font-face {
    font-family: myfont;
    src: url(../fonts/Lato/Lato-Black.ttf);
    
}
#right{
    margin-top: 90px;
    width: 60%;
    height: 120vh;
    float: right;
    background-color: var(--T200);
    background-color: white;
    display: inline-block;
}
#left{
    /* background-image: url(../images/Screenshot\ 2024-04-18\ at\ 9.07.32\ PM.png);
    background-size: 44% 100% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:40%;
    height: 190vh;
    float: left;
    margin-top: -20px;
    background-color: var(--S100); */
    position: fixed;
    /* margin-top: 90px; */
    width:40%;
    height: 140%;
    float: left;
    background-color: var(--S100);
    margin-top: 60px;
    
}
h2{
    margin-left: 20px;
    font-family: myfont, serif;
    font-weight: bold;
    font-style: normal;
    color: black;
    padding:50px 0px 5px 50px;
    font-size: 200%;
}
#leftTitle{
    margin-left: 30px;
    margin-bottom: 1em;
    padding:50px 50px 0px 30px;
    color: var(--T900);
    font-family: myfont , serif;
    font-weight: bold;
    font-style: normal;
    font-size: 200%;
    max-height: 200px;
}


#leftImg{
    padding-left: 70px;
    width: 75%;
    height: 40%;
    max-height: 400px;
    
}

#leftText{
    padding :40px 0px 0 80px;
    font-family: myfont , serif;
    font-size: 30px;
    margin-right: 50px;
    color:var(--T900);
    
}
#save{
    font-family: myfont;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 40%;
    color :white;
    background-color: var(--T900);
    border-style: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 40px;
}
label{
    font-size: 140%;
    color: black;
    font-family: myfont , serif;
    margin: 0px 0px 20px 75px ;

}
input{
    border-color: white;
    text-align:left;
    font-family: myfont , serif;
    color: black;
    margin: 20px 0px 0px 75px ;
    outline: none;
    /* border-color: var(--T600); */
    /* border-radius: 5px; */
    font-size: 15px;
    font-display: center;
    width: 250px;
    height: 30px;
    border : none;
    border-bottom: 2px solid var(--T900);
    box-shadow: 0px 0px 10px rgba(0,0,0,0) ;
    /* border :none; */

}
/* #category{
    background-color: white;
    border-width: 2px;
    border-color: var(--T600);
    float: right;
    font-family: myfont , serif;
    font-style: bold;
    color: black;
    padding:200%;
    float: right;
    font-size: 15px;
    font-display: center;
    margin-right: 12%;
    padding: 20px 10px;
    width: 254px;
    height: 35px;
    border: 0px solid transparent;
} */
textarea{
    font-family: myfont , serif;
    font-size: medium;
    color: black;
    border: 2px solid var(--T900);
    font-size: 15px;
    margin : 5px 0px 0px 75px;
    
    /* padding: 20px 10px; */
    margin-right: 80px;
    outline: none;
    padding: 10px;
    width: 77%;
    height: 170px;
    border-radius: 5px;
}
/* #bookim{
    float: right;
    margin-top: 15px;
    width : 25%;
    height : 10%;
} */
#bname{
    width:50%;
    float: left;
    margin-bottom: 25px;
    margin-top: 50px;
    /* margin-right: 0px;
    padding-right: 0px; */
    display: grid;
}
#auname{
    margin-bottom: 25px;
    width: 50%;
    float:right;
    margin-top: 50px;
    display: grid;
}
#bid{
    width:50%;
    float: left;
    margin-bottom: 25px;
    margin-top: 50px;
    display: grid;
    /* margin-right: 0px;
    padding-right: 0px; */
}
#bno{
    margin-bottom: 25px;
    width: 50%;
    float:right;
    margin-top: 50px;
    display: grid;
}
#cat{
    width:50%;
    float: left;
    margin-bottom: 25px;
    margin-top: 50px;
    display: grid;
    /* margin-right: 0px;
    padding-right: 0px; */
}
#rat{
    margin-bottom: 25px;
    margin-top: 50px;
    width: 50%;
    float:right;
    display: grid;
}
#imgFrame{
    width: 40%;
    height: 350px;
    padding: 2%;
    box-shadow: 0px 0px 10px var(--T900,0.1);
    margin: 40px 40px 30px 70px;
}    
#img{
    width: 99%;
    height: 99%;
    /* margin-right: 6px; */
}
#rightImg input{
    display: none;
}
#rightImg label{
    color: white;
    font-family: myfont;
    font-size: 100%; 
    background-size: 500px;
    background-color: var(--T800);
    border-radius: 10px;
    padding: 15px ;
    margin-bottom: 250px;
}

