@font-face {
    font-family: myfont;
    src: url(../Bevan/Bevan-Regular.ttf);
}
* {
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* navigation */

nav ul {
    /* margin-bottom: 5em; */
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
}

nav {
    /* margin-top: -2%; */
    background-color: white;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    text-decoration: none;
}

nav li {
    display: inline;
    margin: 0 4px;
}

#header-title {
    padding: 0px 50px 0px 0px;
    font-family: myfont, serif;
    font-weight: bold;
    font-style: normal;
    color: #a16207;
    font-size: 3.5vw;
}
   

#search-bar {
    width: 180px;
    margin-right: 10px;
    border: none;
    padding: 8px 4px;
    border-radius: 20px;
}


/* book item */

#book-list {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.book-item {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}




/* layout */

header {
    background-color: rgba(197, 197, 197, 0.877);
    margin-bottom: 30px;
}

.header-container {
    width: 90%;
    margin: 0 auto;
    padding: 1.25em;
    display: flex;
}

header h1 {
    color: red;
}

img {
    width: 175px;
    height: 260px;
}