html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: white;
}
a {
    color: aliceblue;
}

a:visited {
    color: rgb(239, 123, 123);
}

a:hover, a:active { 
    color: #5595df;
} 